nav {
    background: #faf87d;
    color:#fff;
    padding: 10px;
    }
    nav a {
    color: rgb(87, 95, 212);
    text-decoration: none;
    padding:10px 20px;
    }
    nav .active, 
    nav a:hover {
    background: #e0da79;
    }
    /* ID Selector */
#intro {
    background: #d4aa72;
    border: 1px solid #099249;
    min-height: 100px;
    padding: 10px;
    }
    #intro h1 {
    text-align: left;
    border: 0;
    color: black
    }
    /* Class Selector */
    .button {
     padding: 15px 20px;
    background: #bebcbd;
    color: #fff;
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    border-radius: 10px;
    }
    .btn-primary {
    background: #E42A42;
    }
    